<p>item-list works!</p>
<div *ngIf="condition">Content to render when condition is true.</div>
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td><button class="btn btn-danger" 
            (click)="addItem(item.id)"> Add</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  
